@font-face {
    font-family: 'Druk Text Wide';
    src: url('./Font/DrukTextWide-Bold.woff2') format('woff2'),
        url('./Font/DrukTextWide-Bold.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Druk Wide';
    src: url('./Font/DrukWide-Medium.woff2') format('woff2'),
        url('./Font/DrukWide-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Futura Hv';
    src: url('./Font/FuturaBT-Heavy.woff2') format('woff2'),
        url('./Font/FuturaBT-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Futura Md';
    src: url('./Font/FuturaBT-Medium.woff2') format('woff2'),
        url('./Font/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Avant Garde';
    src: url('./Font/AvantGardeLT-Bold.woff2') format('woff2'),
        url('./Font/AvantGardeLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

  .active {
    color: yellow;
  }

  body.bg {
  background: linear-gradient(-45deg, #5d514d, #06226e, #910c0f, #424544);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}